In [2]:
import os
import pandas as pd

In [3]:
articles_path = r"C:\Users\zeyad\Downloads\BBC News Summary\News Articles\business"
summaries_path = r"C:\Users\zeyad\Downloads\BBC News Summary\Summaries\business"

In [4]:
def create_directory_list(path):
    return os.listdir(path)

In [5]:
def read_files_in_directory(path):
    directory_list = create_directory_list(path)
    list_of_articles = []

    for txt in directory_list:
        with open (path+"\\"+txt, "r") as myfile:
            list_of_articles.append(myfile.read())
            
    return list_of_articles

In [6]:
list_of_articles = read_files_in_directory(articles_path)
list_of_summaries = read_files_in_directory(summaries_path)

In [7]:
df = pd.DataFrame(list(zip(list_of_articles, list_of_summaries)),
               columns =['Articles', 'Summaries'])
df.to_csv("BBC_Dataset.csv")

,Articles,Summaries
0,Ad sales boost Time Warner profit\n\nQuarterly...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speech\n\nThe dollar...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\n\nBritish A...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\n\nShares in...,Pernod has reduced the debt it took on to fund...

In [8]:
df.head()

,Articles,Summaries
0,Ad sales boost Time Warner profit\n\nQuarterly...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speech\n\nThe dollar...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\n\nBritish A...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\n\nShares in...,Pernod has reduced the debt it took on to fund...