In [12]:
import pandas as pd
from preprocessing_algorithms import *

c:\Users\Zeyad\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [34]:
df = pd.read_csv("weights_of_alogrithms_and_their_combinations.csv", index_col=0)

In [35]:
df.T.head()

,"('LDA',)","('Lex', 'LDA')","('Lex', 'Luhn')","('Lex', 'Luhn', 'LDA')","('Lex', 'Luhn', 'Lsa', 'LDA')","('Lex', 'Luhn', 'Lsa', 'Tr')","('Lex', 'Luhn', 'Lsa', 'Tr', 'LDA')","('Lex', 'Luhn', 'Tr')","('Lex', 'Luhn', 'Tr', 'LDA')","('Lex', 'Tr')",...,"('Tm', 'Luhn', 'Lsa', 'Tr', 'LDA')","('Tm', 'Luhn', 'Tr')","('Tm', 'Luhn', 'Tr', 'LDA')","('Tm', 'Tr')","('Tm', 'Tr', 'LDA')","('Tm',)","('Tr', 'LDA')","('Tr',)",Original Article,Original Summary
0,0.083333,0.166667,0.333333,0.333333,0.083333,0.25,0.166667,0.333333,0.333333,0.5,...,0.166667,0.333333,0.333333,0.25,0.166667,0.166667,0.333333,0.083333,0.333333,1.0

In [54]:
columns = df.T.columns

In [56]:
columns = [string.replace("(", "").replace(")", "").replace("'", "").replace(",","") for string in columns]

In [60]:
columns

['LDA',
 'Lex LDA',
 'Lex Luhn',
 'Lex Luhn LDA',
 'Lex Luhn Lsa LDA',
 'Lex Luhn Lsa Tr',
 'Lex Luhn Lsa Tr LDA',
 'Lex Luhn Tr',
 'Lex Luhn Tr LDA',
 'Lex Tr',
 'Lex Tr LDA',
 'Lex',
 'Lsa',
 'Luhn Tr',
 'Luhn Tr LDA',
 'Luhn',
 'Tm LDA',
 'Tm Lex',
 'Tm Lex LDA',
 'Tm Lex Luhn',
 'Tm Lex Luhn LDA',
 'Tm Lex Luhn Lsa',
 'Tm Lex Luhn Lsa LDA',
 'Tm Lex Luhn Lsa Tr',
 'Tm Lex Luhn Lsa Tr LDA',
 'Tm Lex Luhn Tr',
 'Tm Lex Luhn Tr LDA',
 'Tm Lex Tr',
 'Tm Lex Tr LDA',
 'Tm Luhn',
 'Tm Luhn LDA',
 'Tm Luhn Lsa',
 'Tm Luhn Lsa LDA',
 'Tm Luhn Lsa Tr',
 'Tm Luhn Lsa Tr LDA',
 'Tm Luhn Tr',
 'Tm Luhn Tr LDA',
 'Tm Tr',
 'Tm Tr LDA',
 'Tm',
 'Tr LDA',
 'Tr',
 'Original Article',
 'Original Summary']

In [66]:
original_algorithms = ['Tm', 'Lex', 'Luhn', 'Lsa', 'Tr', 'LDA']
original_algorithms_scores  = [['Tm',0], ['Lex',0], ['Luhn',0], ['Lsa',0], ['Tr',0], ['LDA',0]]
i = 0
for algorrithm in original_algorithms:
    for element in columns:
        if algorrithm in element:
            original_algorithms_scores[i][1] +=1
    i+=1

In [67]:
original_algorithms_scores

[['Tm', 24], ['Lex', 23], ['Luhn', 26], ['Lsa', 12], ['Tr', 22], ['LDA', 21]]

In [78]:
my_list = columns
counts = {}

for inner_list in my_list:
    if inner_list in counts:
        counts[inner_list] += 1
    else:
        counts[inner_list] = 1

print(counts)

{'LDA': 1, 'Lex LDA': 1, 'Lex Luhn': 1, 'Lex Luhn LDA': 1, 'Lex Luhn Lsa LDA': 1, 'Lex Luhn Lsa Tr': 1, 'Lex Luhn Lsa Tr LDA': 1, 'Lex Luhn Tr': 1, 'Lex Luhn Tr LDA': 1, 'Lex Tr': 1, 'Lex Tr LDA': 1, 'Lex': 1, 'Lsa': 1, 'Luhn Tr': 1, 'Luhn Tr LDA': 1, 'Luhn': 1, 'Tm LDA': 1, 'Tm Lex': 1, 'Tm Lex LDA': 1, 'Tm Lex Luhn': 1, 'Tm Lex Luhn LDA': 1, 'Tm Lex Luhn Lsa': 1, 'Tm Lex Luhn Lsa LDA': 1, 'Tm Lex Luhn Lsa Tr': 1, 'Tm Lex Luhn Lsa Tr LDA': 1, 'Tm Lex Luhn Tr': 1, 'Tm Lex Luhn Tr LDA': 1, 'Tm Lex Tr': 1, 'Tm Lex Tr LDA': 1, 'Tm Luhn': 1, 'Tm Luhn LDA': 1, 'Tm Luhn Lsa': 1, 'Tm Luhn Lsa LDA': 1, 'Tm Luhn Lsa Tr': 1, 'Tm Luhn Lsa Tr LDA': 1, 'Tm Luhn Tr': 1, 'Tm Luhn Tr LDA': 1, 'Tm Tr': 1, 'Tm Tr LDA': 1, 'Tm': 1, 'Tr LDA': 1, 'Tr': 1, 'Original Article': 1, 'Original Summary': 1}

In [ ]:
text = 'Lex Luhn'
text = text