In [1]:
from imported_libraries import *

In [2]:
df = pd.read_csv("BBC_Dataset.csv")
df=df.iloc[:,1:]#remove first column(unnamed col)
df.dropna(inplace=True)
columns_titles = ["Articles","Summaries"]
df=df.reindex(columns=columns_titles)
mini_df = df[:10]
mini_df

,Articles,Summaries
0,Ad sales boost Time Warner profit\r\n\r\nQuart...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speech\r\n\r\nThe do...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claim\r\n\r\nThe o...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\r\n\r\nBriti...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\r\n\r\nShare...,Pernod has reduced the debt it took on to fund...
5,Japan narrowly escapes recession\r\n\r\nJapan'...,"On an annual basis, the data suggests annual g..."
6,Jobs growth still slow in the US\r\n\r\nThe US...,The job gains mean that President Bush can cel...
7,"India calls for fair trade rules\r\n\r\nIndia,...",At a conference on developing enterprise hoste...
8,Ethiopia's crop production up 24%\r\n\r\nEthio...,"In 2003, crop production totalled 11.49 millio..."
9,Court rejects $280bn tobacco case\r\n\r\nA US ...,A US government claim accusing the country's b...

In [3]:
# df = pd.read_csv("dataset.csv")
# df=df.iloc[:,1:]#remove first column(unnamed col)
# df.dropna(inplace=True)
# columns_titles = ["original","summary"]
# df=df.reindex(columns=columns_titles)
# mini_df = df[:10]
# mini_df

In [4]:
"""Preprocessing"""                            #(lemm,stopwords)
sentences, filtered_sentences = process_df(mini_df,True,False)

100%|██████████| 10/10 [00:09<00:00,  1.00it/s]

In [5]:
sentences[0][3]

'Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.\r\n\r\n'

In [6]:
filtered_sentences[0][3]

'its profit be buoy by one - off gain which offset a profit dip at warner bros and less user for aol'

In [7]:
"""
Parameters are sentences,filtered_sentences ,summary_algorithm, size = 2(default value)

"""

lunh_algorithm_summary = summarize_with(list_of_articles= sentences, list_of_filtered_articles= filtered_sentences, summary_algorithm= luhn_algorithm, size=5) 
print(lunh_algorithm_summary)

100%|██████████| 10/10 [00:00<00:00, 3342.34it/s]

sent_socres [128, 106, 51, 78, 55, 46, 79, 106, 137, 116, 65, 166, 95, 144, 98, 89, 73, 238, 69]
sorted [17 11 13  8  0  9  7  1 14 12 15  6  3 16 18 10  4  2  5]
sent_socres [149, 117, 74, 60, 169, 151, 101, 52, 126, 130, 72, 156, 101, 163, 115]
sorted [ 4 13 11  5  0  9  8  1 14 12  6  2 10  3  7]
sent_socres [27, 101, 98, 84, 60, 64, 154, 159, 38, 99, 100, 91, 125]
sorted [ 7  6 12  1 10  9  2 11  3  5  4  8  0]
sent_socres [190, 97, 81, 87, 112, 227, 162, 49, 136, 51, 54, 85, 150, 90, 93, 113, 35]
sorted [ 5  0  6 12  8 15  4  1 14 13  3 11  2 10  9  7 16]
sent_socres [137, 119, 66, 56, 105, 51, 112, 94, 80, 147, 90, 122]
sorted [ 9  0 11  1  6  4  7 10  8  2  3  5]
sent_socres [113, 82, 107, 76, 60, 143, 120, 100, 118]
sorted [5 6 8 0 2 7 1 3 4]
sent_socres [127, 60, 62, 84, 117, 103, 53, 96, 83, 89, 109, 121, 103, 54, 0]
sorted [ 0 11  4 10 12  5  7  9  3  8  2  1 13  6 14]
sent_socres [127, 103, 78, 58, 158, 68, 103, 157, 93, 117, 127, 38, 44, 149, 44]
sorted [ 4  7 13 10  0  9  6  1  8  2  5  3 14 12 11]
sent_socres [136, 119, 76, 62, 64, 170, 67, 76, 78, 174, 79, 57]
sorted [ 9  5  0  1 10  8  7  2  6  4  3 11]
sent_socres [134, 81, 82, 93, 192, 119, 145, 81, 103, 83]
sorted [4 6 0 5 8 3 9 2 7 1]
                              luhn_algorithm summary
0  The company said it was unable to estimate the...
1  On Friday, Federal Reserve chairman Mr Greensp...
2  Menatep Group's managing director Tim Osborne ...
3  Yet aviation analyst Mike Powell of Dresdner K...
4  Allied Domecq's big names include Malibu rum, ...
5  "I maintain the view that Japan's economy rema...
6  Jobs growth still slow in the US\r\n\r\nThe US...
7  Palaniappan Chidambaram, India's finance minis...
8  "Local purchase of cereals for food assistance...
9  In its case, the government claimed tobacco fi...

In [8]:
"""
Parameters are dataframe of original summary and dataframe of system summary
NOTE system summary is calculated in the cell above
"""
rouge_scores_df(df=mini_df, algorithm_summary_df=lunh_algorithm_summary)

100%|██████████| 10/10 [00:12<00:00,  1.23s/it]

,rouge1_fmeasure,rouge1_precision,rouge1_recall,rouge2_fmeasure,rouge2_precision,rouge2_recall,rougeL_fmeasure,rougeL_precision,rougeL_recall,rougeLsum_fmeasure,rougeLsum_precision,rougeLsum_recall
0,tensor(0.4230),tensor(0.3933),tensor(0.4575),tensor(0.1702),tensor(0.1582),tensor(0.1842),tensor(0.1934),tensor(0.1798),tensor(0.2092),tensor(0.2417),tensor(0.2247),tensor(0.2614)
1,tensor(0.6927),tensor(0.6596),tensor(0.7294),tensor(0.5955),tensor(0.5668),tensor(0.6272),tensor(0.3296),tensor(0.3138),tensor(0.3471),tensor(0.6648),tensor(0.6330),tensor(0.7000)
2,tensor(0.5055),tensor(0.4825),tensor(0.5308),tensor(0.2952),tensor(0.2817),tensor(0.3101),tensor(0.3223),tensor(0.3077),tensor(0.3385),tensor(0.4396),tensor(0.4196),tensor(0.4615)
3,tensor(0.7654),tensor(0.7828),tensor(0.7488),tensor(0.6600),tensor(0.6751),tensor(0.6456),tensor(0.3852),tensor(0.3939),tensor(0.3768),tensor(0.7457),tensor(0.7626),tensor(0.7295)
4,tensor(0.6966),tensor(0.6200),tensor(0.7949),tensor(0.6566),tensor(0.5839),tensor(0.7500),tensor(0.5019),tensor(0.4467),tensor(0.5726),tensor(0.6667),tensor(0.5933),tensor(0.7607)
5,tensor(0.5354),tensor(0.4274),tensor(0.7162),tensor(0.4490),tensor(0.3577),tensor(0.6027),tensor(0.2828),tensor(0.2258),tensor(0.3784),tensor(0.4747),tensor(0.3790),tensor(0.6351)
6,tensor(0.6642),tensor(0.6842),tensor(0.6454),tensor(0.5441),tensor(0.5606),tensor(0.5286),tensor(0.3942),tensor(0.4060),tensor(0.3830),tensor(0.6277),tensor(0.6466),tensor(0.6099)
7,tensor(0.7121),tensor(0.7372),tensor(0.6886),tensor(0.5919),tensor(0.6129),tensor(0.5723),tensor(0.4768),tensor(0.4936),tensor(0.4611),tensor(0.4768),tensor(0.4936),tensor(0.4611)
8,tensor(0.6154),tensor(0.5315),tensor(0.7308),tensor(0.4816),tensor(0.4155),tensor(0.5728),tensor(0.3158),tensor(0.2727),tensor(0.3750),tensor(0.5344),tensor(0.4615),tensor(0.6346)
9,tensor(0.5966),tensor(0.4965),tensor(0.7474),tensor(0.4915),tensor(0.4085),tensor(0.6170),tensor(0.3361),tensor(0.2797),tensor(0.4211),tensor(0.5378),tensor(0.4476),tensor(0.6737)

In [9]:
# horizontal_concat_df = pd.concat(
#     [
#         mini_df,
#         luhn,
#         lsa,
#         text_matching,
#         LexRank
#     ],
#     axis=1,
# )
# #horizontal_concat_df[horizontal_concat_df.isnull().any(axis=1)]
# horizontal_concat_df