In [1]:
from datasets import load_dataset

dataset = load_dataset('cnn_dailymail', '3.0.0')

Found cached dataset cnn_dailymail (C:/Users/basel/.cache/huggingface/datasets/cnn_dailymail/3.0.0/3.0.0/1b3c71476f6d152c31c1730e83ccb08bcf23e348233f4fcc11e182248e6bf7de)

  0%|          | 0/3 [00:00<?, ?it/s]

In [2]:
import pandas as pd

In [9]:
import sys
sys.path.append(r"C:\Users\basel\OneDrive\Desktop\GP_Project\text_summarization\my_package" )
from text_processing import *

In [4]:

# Convert dataset to a pandas DataFrame
df = pd.DataFrame(dataset['train'])

# Optional: Select specific columns if needed
df = df[['article', 'highlights']]
mini_cnn = df[:1500]

In [7]:
mini_cnn

,article,highlights
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa..."
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non..."
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical..."
...,...,...
1495,WASHINGTON (CNN) -- A court Thursday rejected ...,Appeals court rejects appeal of failed $54 mil...
1496,"ORLANDO, Florida (CNN) -- The meter reader who...",Officials say worker who found child's remains...
1497,(CNN) -- Former first lady Barbara Bush was mo...,Barbara Bush had surgery to repair and seal a ...
1498,"DENVER, Colorado (CNN) -- Investigators will ...","Flight data recorder, cockpit voice recorder r..."
1499,WASHINGTON (CNN) -- Iraq's smaller religious g...,Religious freedom watchdog group urges protect...

In [16]:
t='i ate motions 2 /waer'
preprocessing_text_with_spacy(t)

(['i ate motions 2 /waer'], ['eat motion 2 waer'])

In [17]:
# Assuming you have a DataFrame named `df` with a column named `Original Article`
def preprocess_and_clean_text(text):
    normal,lemm_stop = preprocessing_text_with_spacy(clean_text(text),True,True)
    cleaned_text = " ".join(lemm_stop)
    return cleaned_text

# Apply the preprocessing and cleaning functions to the "Original Article" column
cleaned_texts = mini_cnn["article"].apply(preprocess_and_clean_text)
cleaned_texts

0       london england reuters harry potter star danie...
1       editor note scene series cnn correspondent sha...
2       minneapolis minnesota cnn drivers minneapolis ...
3       washington cnn doctor remove small polyp presi...
4       cnn national football league indefinitely susp...
                              ...
1495    washington cnn court thursday reject appeal fi...
1496    orlando florida cnn meter reader lead authorit...
1497    cnn lady barbara bush move intensive care unit...
1498    denver colorado cnn investigator interview cre...
1499    washington cnn iraq small religious group face...
Name: article, Length: 1500, dtype: object

In [18]:
cleaned_summary =  mini_cnn["highlights"].apply(clean_text)

In [21]:
type(cleaned_texts)

pandas.core.series.Series

In [30]:
mini_cnn.to_csv('mini_cnn.csv',index=False)

In [33]:
pd.read_csv('mini_cnn.csv')

,article,highlights,cleaned_article,cleaned_highlights
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...,london england reuters harry potter star danie...,harry potter star daniel radcliffe gets m fort...
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,editor note scene series cnn correspondent sha...,mentally ill inmates in miami are housed on th...
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",minneapolis minnesota cnn drivers minneapolis ...,new i thought i was going to die driver says ....
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non...",washington cnn doctor remove small polyp presi...,five small polyps found during procedure none ...
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical...",cnn national football league indefinitely susp...,new nfl chief atlanta falcons owner critical o...
...,...,...,...,...
1495,WASHINGTON (CNN) -- A court Thursday rejected ...,Appeals court rejects appeal of failed $54 mil...,washington cnn court thursday reject appeal fi...,appeals court rejects appeal of failed million...
1496,"ORLANDO, Florida (CNN) -- The meter reader who...",Officials say worker who found child's remains...,orlando florida cnn meter reader lead authorit...,officials say worker who found child s remains...
1497,(CNN) -- Former first lady Barbara Bush was mo...,Barbara Bush had surgery to repair and seal a ...,cnn lady barbara bush move intensive care unit...,barbara bush had surgery to repair and seal a ...
1498,"DENVER, Colorado (CNN) -- Investigators will ...","Flight data recorder, cockpit voice recorder r...",denver colorado cnn investigator interview cre...,flight data recorder cockpit voice recorder re...
1499,WASHINGTON (CNN) -- Iraq's smaller religious g...,Religious freedom watchdog group urges protect...,washington cnn iraq small religious group face...,religious freedom watchdog group urges protect...